{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <h1>Вот что я умею(?)</h1>

  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>

  <article class="col-12 col-md-9">
    <p>Текст страницы "Технологии"<br>
      На этой странице можно было бы рассказать, как я проклял всё,
      придя учиться в яндех...<br>
      ...но я сделаю это в фидбэке к спринту.
    </p>
  </article>
</div>
{% endblock %}
